<p id="notice"><%= notice %></p>

<h1 class="ui header"><%= @topic.name %></h1>

<div id="source-add" class="ui small input js-source-add">
  <input class="typeahead" type="text" placeholder="Add a source...">
  <i class="add large icon js-submit"></i>
</div>

<div class="ui items topic-sources js-topic-source-list">
  <% @topic_sources.each do |topic_source| %>
    <div class="item topic-source js-topic-source" id="source-<%= topic_source.source_id %>">
      <div class="upvote ui corner label js-topic-source-voter" id="voter-<%= topic_source.source_id %>" href="<%= upvote_topic_source_path(@topic, topic_source.source) %>">
        <div class="js-topic-source-vote-count vote-count floating ui black label">
          0
        </div>
        <i class="circle up icon"></i>
      </div>
      <div class="ui grid row">
        <div class="three wide column">
          <img class="image" src=<%= topic_source.source.image_lo_url %>>
        </div>
        <div class="ten wide column">
          <div class="content">
            <h3 class="title"><%= topic_source.source.title %></h3>
            <p class="authors">Author(s): <%= topic_source.source.authors %> </p>
            <p class="isbn">ISBN: <%= topic_source.source.isbn %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
