<p id="notice"><%= notice %></p>

<h1 class="ui header"><%= @topic.name %></h1>

<div id="source-add" class="ui small input">
  <input class="typeahead" type="text" placeholder="Add a source...">
  <i class="add large icon"></i>
</div>

<div class="ui items topic-sources js-topic-source-list">
  <% @topic_sources.each do |topic_source| %>
    <div class="item js-topic-source" id="source-<%= topic_source.source_id %>">
      <div class="upvote ui corner label js-topic-source-voter" id="voter-<%= topic_source.source_id %>" href="<%= upvote_topic_source_path(@topic, topic_source.source) %>">
        <i class="circle up icon"></i>
      </div>
      <div class="image">
        <%= image_tag(topic_source.source.image_hi_url) %>
      </div>
      <div class="content">
        <div class="name"><%= topic_source.source.title %></div>
        <p class="description"><%= topic_source.source.authors %> (<%= topic_source.source.isbn %>)</p>
      </div>
      <div class="extra">
        Votes: <span class="js-topic-source-vote-count"> <%= topic_source.net_votes %> </span>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
